[Unit]
Description = Xremap Daemon

[Service]
KillMode = process
ExecStart = /usr/bin/xremap %h/.config/xremap/config.yaml
Restart = always

[Install]
WantedBy=default.target
